<div class="chat-header">
  <div class="left-header">
    <div class="header-title">

      <%= @room.name %>
      <%# チャットルーム名の情報は、すでにコントローラapp/controllers/messages_controller.rbのindexアクションの@roomで取得できているため %>


    <%# ヘッダーのチャットルーム名を表示するため、仮チャットルーム名 hogefuga削除 %>
      <%# hogefuga %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
<%# "チャットを終了する"をクリックすると、チャットルームが削除されるようにリンクを設定 %>
<%# 「rails routes」コマンドを実行すると、roomsコントローラーのdestroyアクションに対応するPrefixは、roomということが分かります。 %>
<%# したがって、削除のパスはroom_pathとな流。 %>
<%# 削除するチャットルームを区別するために、定義している@roomを引数にし、room_path(@room)と指定 %>
<%# HTTPメソッドのdeleteを指定すると、roomsコントローラーのdestroyアクションが実行される。 %>
<%# destroyアクションが実行されると、roomが削除される %>




      <%# <a href="#">チャットを終了する</a> %>
    </div>
  </div>
</div>

<div class="messages">
<!--不要となる仮データ部分を削除!-->
  <%# <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        こんばんは
      </div>
    </div>
  </div> %>

    <%= render partial: 'message', collection: @messages %>
<%# 新たに_message.html.erbを部分テンプレートとして、読み込み %>
</div>

<%# メッセージを保存できるように、ビューを編集 %>
<%# formタグ、inputタグを用いて記述されている箇所をform_withを使って書き換える。 %>

<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
<%# form_withの引数に@room, @messageの2つを渡している %>
<%# これは、messagesのルーティングがroomsにネストされているため。チャットルームとメッセージとの間には、あるチャットルームに属しているメッセージ、という親子関係がある。 %>
<%# form_withのmodelオプションに記述した@roomには「指定のチャットルームのレコード情報」、@messageには「Messageモデルの空のインスタンス（Message.new）」をあらかじめセットしておく必要がある。 %>

  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>

<!--
<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <%# 「placeholder」は、文字をうっすら表示する時に利用 %>
        <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>
!-->