<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
    <%# 「rails routes」コマンドを実行し、どのようなリンク先を指定すれば、該当のアクションが動くのか確認する。 %>
    <%# current_user.nameは、ログインしているユーザー名 %>
    <%# link_toのパスを、ログインしているユーザーの編集をするため 、edit_user_path(current_user)と指定 %>
    <%# ユーザー名をクリックすると、usersコントローラーのeditアクションが実行され、編集ページに遷移 %>
  </div>
  <div class="create-room">
    <%# <a href="#">チャットを作成する</a> %>
    <%= link_to "チャットを作成する", new_room_path %>
    <!--リンクは「rails routes」を実行して調べる。!-->

  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
  <!--チャットルームは複数作成出来るので、「eachメソッド」を使って全てのチャットルームに対して同じ処理を繰り返し実行!-->
  <!--「|room|」の部分は変数名なので命名規則はないが、分かりやすいように「room」にした。!-->
    <div class="room">
      <div class="room-name">
       <%= link_to room.name, room_messages_path(room) %>
       <!--サイドバーのチャットルーム名に、 <%= link_to room.name, room_messages_path(room) %>とリンクを設定。
        パスにroomを引数とすることで、メッセージと紐付いているチャットルームのidを持たせることができる。
        したがって、チャットルーム名をクリックすると、messagesコントローラーのindexアクションが実行され、チャットルームのページに遷移する
        !-->
       <!-- <a href="#"><%= room.name %></a> !-->
        <%# room.nameの「name」は、roomsテーブルのカラム名 %>
      </div>
    </div>
  <% end %>
</div>